<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Android.PhotoView" version="2.1.3" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Things" version="0.5.1-devpreview" targetFramework="monoandroid80" />
  <package id="Xamarin.AndroidThings.Contrib.RainbowHat" version="0.40.0-beta" targetFramework="monoandroid80" />
</packages>